.about {
    padding: 0 8vw;
    text-align: center;
}

.title {
    font-size: 30px;
    font-weight: 500;
    padding: 6vh 0;
}

.about div p {
    padding: 1vh;
}

.about .about1 {
    display: grid;
    display: -webkit-grid;
    grid-template-columns: 1fr 1fr;
    gap: 10%;
    padding: 10vh 0;
}

.about .about1 div {
    border: 1px black solid;
    border-radius: 4%;
    text-align: center;
    height: 300px;
    padding: 14px 4px;
    background-color: var(--blue);
}

.about .about1 div h1 {
    color: #FFFFFF;
    padding-bottom: 14vh;
}

.about .about1 div p {
    color: #FFFFFF;
    line-height: 2em;
}

.about .team {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.about .team div {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    max-width: 370px;
    flex-direction: column;
    align-items: center;
    -webkit-align-items: center;
    margin: 20px;
}

.about .team div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px #00000066 solid;
    margin-bottom: 10px;
}

.about .team div img p {
    color: #000000;
    padding-top: 10px;
}

@media only screen and (max-width: 720px) {
    .about {
        padding: 0 3vw;
    }

    .title {
        padding: 3vh 0;
    }
    
    .about .about1 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about .team {
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
	    flex-wrap: wrap;
    }

    .about .team div img {
        width: 100px;
        height: 100px;
    }
}
