.about {
    margin: 4%;
}

.about .about1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10%;
    margin-bottom: 60px;
}

.about .about1 div {
    border: 1px black solid;
    border-radius: 4px;
    text-align: center;
    height: 300px;
    padding: 14px 4px;
}

.about .about1 div h2 {
    margin-bottom: 10px;
}

.about .about1 div p {
    line-height: 2em;
}

.about .about2 {
    width: 100%;
    text-align: center;
    margin-bottom: 60px;
}

.about .about2 .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4%;
}

.about .about2 .team div {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 8px;
}

.about .about2 .team div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px #00000096 solid;
}

.about .about2 .team div img span {
    color: #000000;
}

.about .about3 {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .about {
        margin: 4% 2%;
    }
    
    .about .about1 {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about .about2 .team {
        display: flex;
	    flex-wrap: wrap;
    }

    .about .about2 .team div img {
        width: 100px;
        height: 100px;
    }
}
