.title {
    font-family: NotoSerif;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 4% 0;
    background-color: #4170b7;
    color: #FFFFFF;
}

.post {
    padding: 6vh 20% 6vh 20%;
}

.post .feature_image {
    aspect-ratio: 3/2;
    max-width: 720px;
    background-color: gray;
}

.post .meta {
    color: gray;
    font-size: 12px;
}

.post p {
    margin-bottom: 14px;
}

@media only screen and (max-width: 720px) {
    .title {
        padding: 8% 0;
    }

    .post {
        padding: 4vh 3vh;
    }
}
