:root{
    --blue:#4170b7;
    --green:#33a74f;
    --yellow:#f2b61b;
    --red:#e52127;
    --zinc:#09090b;
    --border-bottom: 4px solid #e52127;
    --title-gradient: linear-gradient(to bottom right, #4170b7, #09090b);
    /* --banner-gradient: linear-gradient(to bottom, #4170b7ac, #4170b7); */
    --banner-gradient: linear-gradient(180deg, #0B75BD 0%, #04273F 83.59375%);

}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
