* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: CrimsonPro;
    src: url('../fonts/Crimson_Pro/CrimsonPro-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: NotoSerif;
    src: url('../fonts/Noto_Serif/NotoSerif-VariableFont.ttf') format('truetype');
    font-style: normal;
}

body {
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
