.drawer {
    position: absolute;
    top: -100%;
    animation-name: slideIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        top: -100%;
    }
    100% {
        top: 82px;
    }
}

.drawer a {
    text-decoration: none;
    font-family: NotoSerif;
    color: #FFFFFF;
}

@media only screen and (max-width: 720px) {
    .drawer {
        z-index: 3;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        padding: 20px 0;
        gap: 12px;
        background-color: var(--zinc);
        width: 100vw;
    }
}