.drawer {
    display: none;    
}

.drawer a {
    text-decoration: none;
    font-family: NotoSerif;
    color: #FFFFFF;
}

@media only screen and (max-width: 720px) {
    .drawer {
        display: block;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 12px;
        background-color: #000000d6;
    }
}