footer {
    background: #1d1e21;
}

.container {
    margin: 0 8vw;
    padding: 30px;
}

.container > p, h3, span {
    color: #FFFFFF;
}

.container h3 {
    font-family: NotoSerif;
    margin-bottom: 10px;
}

.container a {
    font-family: CrimsonPro;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.container a:hover {
    text-decoration: underline;
}

.container .main {
    display: grid;
    display: -webkit-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 3%;
}

.footer1 .logo {
    height: 70px;
    width: auto;
}

.footer1 div {
    color: #FFFFFF;
    font-family: CrimsonPro;
    font-size: 14px;
    margin-top: 18px;
}

.footer2 .social {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    gap: 18px;
}

.footer2 .social img {
    height: 20px;
    width: auto;
    background-color: #ffffff25;
    padding: 8px;
}

.footer2 .social img:hover {
    background-color: #4170b750;
}

.footer3 .subscribe {
    width: 100%;
    display: grid;
    display: -webkit-grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

.footer3 .subscribe input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #FFFFFF solid;
    color: #FFFFFF;
    width: 100%;
    font-family: CrimsonPro;
    font-size: 14px;
    padding: 2px 4px;
}

.footer3 .subscribe button {
    width: calc(100% + 8px);
    width: -webkit-calc(100% + 8px);
    width: -ms-calc(100% + 8px);
    background-color: var(--blue);
    border: none;
    font-family: CrimsonPro;
    font-size: 14px;
    color: #FFFFFF;
    padding: 4px 0px;
    cursor: pointer;
}

.footer4 ul {
    padding-left: 12px;
    color: #FFFFFF;
}

.footer4 ul li {
    margin-bottom: 4px;
}

.main .divider {
    display: none;
    height: 1px;
    background-color: silver;
    margin: 10px 0;
}

.footer {
    width: 100v;
    background-color: var(--blue);
    color: #FFFFFF;
    font-family: CrimsonPro;
    font-size: 14px;
    text-align: center;
    padding: 2vh 8vw;
}

@media only screen and (max-width: 720px) {
    .container {
        margin: 0 3vw;
        padding: 15px;
    }

    .container .main {
        grid-template-columns: 1fr;
    }

    .main .divider {
        display: block;
    }
}
