.header {
    background: #000080c1;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    background: url("../images/logo.png") no-repeat;
    position: absolute;
    left: 4%;
    color: #FFFFFF;
}

.header .menu {
    position: absolute;
    right: 4%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header .menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.header .menu a:hover {
    text-decoration: none;
}

.header .nav {
    display: none;
    position: absolute;
    right: 20px;
    /* background: url("../images/menu_open.png") no-repeat top center; */
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .header {
        height: 70px;
    }
    .header .menu {
        display: none;
    }
    .header .nav {
        display: block;
        position: absolute;
        right: 20px;
        /* background: url("../images/menu_open.png") no-repeat top center; */
    }
}
