header {
    background: #FFFFFF;
    border-bottom: 4px solid #e52127;
}

header .container {
    height: 50px;
    margin: 0 8vw;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    /* background: url("../images/logo.png") no-repeat; */
    position: absolute;
    left: 0;
    height: 80px;
    width: auto;
}

header .container .menu {
    position: absolute;
    right: 0;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

header .container .menu a {
    text-decoration: none;
    color: #606060;
    font-family: NotoSerif;
    font-weight: 600;
    font-size: 16px;
}

header .container .menu a:hover {
    text-decoration: none;
    color: #1d1e21;
}

header .container .menu button {
    text-transform: uppercase;
    padding: 14px 20px;
    border: none;
    background-color: #33a74f;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: NotoSerif;
    font-weight: 600;
    font-size: 14px;
}

header .container .menu button:hover {
    background-color: #4170b7;
}

header .container .nav {
    display: none;
    position: absolute;
    right: 20px;
    height: 30px;
    /* background: url("../images/menu_open.png") no-repeat top center; */
    cursor: pointer;
}

@media only screen and (max-width: 720px) {

    header .container {
        margin: 0 3vw;
    }

    header .container .logo {
        height: 70px;
    }

    header .container .menu {
        display: none;
    }

    header .container .nav {
        display: block;
    }
}
