/* ====================================================================================

HEADER

=======================================================================================*/

header {
    background-color: transparent;
    border-bottom: none;
    position: fixed;
    z-index: 3;
    width: 100vw;
}

.header_border {
    border-bottom: 4px solid #e52127;
}


header .container {
    height: 50px;
    margin: 0 8vw;
    position: relative;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

header .container .logo {
    position: absolute;
    left: 0;
    height: 80px;
    width: auto;
}

header .container .menu {
    position: absolute;
    right: 0;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    -webkit-align-items: center;
}

header .container .menu a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: NotoSerif;
    font-weight: 600;
    font-size: 16px;
}

header .container .menu a:hover {
    text-decoration: none;
}

header .container .menu button {
    text-transform: uppercase;
    padding: 14px 20px;
    border: none;
    background-color: #33a74f;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: NotoSerif;
    font-weight: 600;
    font-size: 14px;
}

header .container .menu button:hover {
    background-color: #4170b7;
}

header .container .nav {
    display: none;
    position: absolute;
    right: 20px;
    height: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {

    header .container {
        margin: 0 3vw;
    }

    header .container .logo {
        height: 70px;
    }

    header .container .menu {
        display: none;
    }

    header .container .nav {
        display: block;
    }
}

/* ====================================================================================

DRAWER

=======================================================================================*/

.drawer {
    position: absolute;
    top: -100%;
    animation-name: slideIn;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slideIn {
    0% {
        top: -100%;
    }
    100% {
        top: 82px;
    }
}

.drawer a {
    text-decoration: none;
    font-family: NotoSerif;
    color: #FFFFFF;
}

.drawer_hide {
    display: none;
}

@media only screen and (max-width: 720px) {
    .drawer {
        position: fixed;
        z-index: 2;
        top: 82px;
        display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
        flex-direction: column;
        align-items: center;
        -webkit-align-items: center;
        padding: 20px 0;
        gap: 12px;
        background-color: #09090b;
        width: 100vw;
    }
}

/* ====================================================================================

HOME SECTION

=======================================================================================*/

.home {
    top: 0;
}

.home .divider {
    background-color: #1d1e2137;
    height: 2px;
    width: 100%;
    margin: 15vh 0;
}

.home .section {
    padding: 0 12vw;
}

@media only screen and (max-width: 720px) {
    .home .divider {
        margin: 8vh 0;
    }

    .home .section {
        padding: 0 3vw;
    }
}

/* ====================================================================================

INTRO SECTION

=======================================================================================*/

.intro {
    background: url("../images/training.png") no-repeat center;
    background-size: 100% auto;
    position: relative;
}

.intro div {
    height: 100vh;
    background-color: #1d1e21bf;
}

.intro div .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 70vw;
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding: 0;
}

.intro div .container h3 {
    color: #f2b61b;
    text-transform: uppercase;
}

.intro div .container h1 {
    color: #FFFFFF;
}

.intro div .container p {
    color: #bcbcbc;
}

.intro div .container button {
    display: none;
    text-transform: uppercase;
    padding: 14px 20px;
    border: none;
    background-color: #33a74f;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: NotoSerif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.intro div .container button:hover {
    background-color: #4170b7;
}

@media only screen and (max-width: 720px) {
    .intro {
        background: url("../images/training.png") no-repeat left;
        background-size: auto 100%;
    }

    .intro div .container {
        width: 90vw;
    }

    .intro div .container h3 {
        font-size: 16px;
    }
    
    .intro div .container h1 {
        font-size: 20px;
    }
    
    .intro div .container p {
        font-size: 14px;
    }

    .intro div .container button {
        display: block;
    }
}

/* ====================================================================================

ABOUT SECTION

=======================================================================================*/

.about {
    display: grid;
    display: -webkit-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 10vh 0 0 0;
}

.about iframe {
    width: 560px;
    height: 315px;
}

.about div h1 {
    color: #000000;
}

.about div p {
    color: #000000;
    line-height: 2em;
}

@media only screen and (max-width: 720px) {    
    .about {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .about iframe {
        width: 100%;
        height: 100%;
    }

    .about div h1 {
        text-align: center;
    }
    
    .about div p {
        text-align: center;
    }
}

/* ====================================================================================

OUR WORK SECTION

=======================================================================================*/

.work h1 {
    text-align: center;
    color: #e52127;
}

.work .offerings {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
    gap: 2vw;
    margin-top: 8vh;
}

.work .offerings .item {
    /* border: 1px black solid; */
    box-shadow: -4px -4px 4px rgba(0, 0, 0, 0.4);
    aspect-ratio: 2/3;
    height: 400px;
    background-color: #4170b754;
    position: relative;
}

.work .offerings .item:nth-child(1) {
    background: url("../images/data-training.png") no-repeat center;
    background-size: 100% auto;
}

.work .offerings .item:nth-child(2) {
    background: url("../images/research.png") no-repeat center;
    background-size: 100% auto;
}

.work .offerings .item:nth-child(3) {
    background: url("../images/outreach.png") no-repeat center;
    background-size: 100% auto;
}

.work .offerings .item:nth-child(4) {
    background: url("../images/mentorship.png")no-repeat right;
    background-size: auto 100%;
}

.work .offerings .item:nth-child(5) {
    background: url("../images/advocacy.png") no-repeat center;
    background-size: 100% auto;
}

.work .offerings .item div {
    position: absolute;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.work .offerings .item div h2 {
    text-align: center;
    color: #FFFFFF;
    padding: 3px;
}

.work .offerings .item div button {
    cursor: pointer;
    padding: 14px 20px;
    border: none;
    background-color: #33a74f;
    border-radius: 12px;
    color: #FFFFFF;
    font-family: NotoSerif;
    font-weight: 600;
    font-size: 14px;
}

@media only screen and (max-width: 720px) { 
    .work .offerings {
        gap: 8vh;
    } 
}


/* ====================================================================================

BLOG SECTION

=======================================================================================*/

.blog {
    background-color: #4170b7;
    padding: 4vh 12vw;
    margin: 15vh 0;
}

.blog h1 {
    color: #FFFFFF;
    text-align: center;
}

@media only screen and (max-width: 720px) {
    .blog {
        padding: 4vh 3vw;
        margin: 8vh 0;
    }
}

/* ====================================================================================

FOOTER 

=======================================================================================*/

footer {
    background: #1d1e21;
    margin-top: 15vh;
}

.container {
    margin: 0 8vw;
    padding: 30px;
}

.container > p, h3, span {
    color: #FFFFFF;
}

.container h3 {
    font-family: NotoSerif;
    margin-bottom: 10px;
}

.container a {
    font-family: CrimsonPro;
    font-size: 14px;
    text-decoration: none;
    color: #FFFFFF;
}

.container a:hover {
    text-decoration: underline;
}

.container .main {
    display: grid;
    display: -webkit-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 3%;
}

.footer1 .logo {
    height: 70px;
    width: auto;
}

.footer1 div {
    color: #FFFFFF;
    font-family: CrimsonPro;
    font-size: 14px;
    margin-top: 18px;
}

.footer2 .social {
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    gap: 18px;
}

.footer2 .social img {
    height: 20px;
    width: auto;
    background-color: #ffffff25;
    padding: 8px;
}

.footer2 .social img:hover {
    background-color: #4170b750;
}

.footer3 .subscribe {
    width: 100%;
    display: grid;
    display: -webkit-grid;
    grid-template-columns: 1fr;
    gap: 14px;
}

.footer3 .subscribe input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #FFFFFF solid;
    color: #FFFFFF;
    width: 100%;
    font-family: CrimsonPro;
    font-size: 14px;
    padding: 2px 4px;
}

.footer3 .subscribe button {
    width: calc(100% + 8px);
    width: -webkit-calc(100% + 8px);
    width: -ms-calc(100% + 8px);
    background-color: #4170b7;
    border: none;
    font-family: CrimsonPro;
    font-size: 14px;
    color: #FFFFFF;
    padding: 4px 0px;
    cursor: pointer;
}

.footer4 ul {
    padding-left: 12px;
    color: #FFFFFF;
}

.footer4 ul li {
    margin-bottom: 4px;
}

footer .divider {
    display: none;
    height: 1px;
    background-color: silver;
    margin: 10px 0;
}

.footer {
    width: 100v;
    background-color: #4170b7;
    color: #FFFFFF;
    font-family: CrimsonPro;
    font-size: 14px;
    text-align: center;
    padding: 2vh 8vw;
}

@media only screen and (max-width: 720px) {
    .container {
        margin: 0 3vw;
        padding: 15px;
    }

    .container .main {
        grid-template-columns: 1fr;
    }

    .divider {
        display: block;
    }
}
