.title {
    font-family: NotoSerif;
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    width: 100%;
    justify-content: center;
    -webkit-justify-content: center;
    padding: 4% 0;
    background-image: var(--title-gradient);
    color: #FFFFFF;
}

.involved {
    padding: 10vh 20%;
    gap: 30px;
}

@media only screen and (max-width: 720px) {
    .title {
        padding: 8% 0;
    }

    .involved {
        padding: 4vh 3vh;
    }
}
